<nav class="navbar navbar-light bg-light">

  <form class="form-inline">

    <button routerLinkActive="active" class="btn btn-outline-success" type="button">
      <a routerLink="auth">Authentification</a>
    </button>

    <button routerLinkActive="active" class="btn  btn-outline-secondary" type="button">
      <a routerLink="appareils">Appareils</a>
    </button>

  </form>

  <div class="navbar-brand">
    <p>Vous êtes connecté depuis {{ secondes }} secondes !</p>
  </div>

</nav>

<!-- <nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <!-- <div class="navbar-collapse"> -->
<!-- <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="auth">Authentification</a></li>
      <li routerLinkActive="active"><a routerLink="appareils">Appareils</a></li>
    </ul> -->
<!-- </div> -->
<!-- </div>
</nav> -->

<div class="container">
  <div class="col-xs-12">
    <div class="row">

      <!-- <app-appareil-view></app-appareil-view> -->
      <router-outlet></router-outlet>

    </div>
  </div>
</div>