<div class="container">

  <div class="row">

    <div class="col-xs-12">

      <h2>Mes appareils</h2>
      <!-- + sans async ni Promise -->
      <!-- <p>Mis à jour : {{ lastUpdate | date: 'y MMMM EEEE d' | uppercase }}</p> -->
      <!-- + avec Promise et async -->
      <p>Mis à jour : {{ lastUpdate | async | date: 'y MMMM EEEE d' | uppercase }}</p>

      <ul class="list-group">
        <!-- + décorateur créant une propriétée depuis la balise <app-appareil> -->
        <!-- <app-appareil appareilName="Machine à laver"></app-appareil> -->

        <!-- + property binding pour lier des variables -->
        <!-- <app-appareil [appareilName]="appareilOne" [appareilStatus]="'éteint'"></app-appareil>
        <app-appareil [appareilName]="appareilTwo" [appareilStatus]="'allumé'"></app-appareil>
        <app-appareil [appareilName]="appareilThree" [appareilStatus]="'éteint'"></app-appareil> -->

        <!-- + la boucle *ngFor renvoie les valeurs du parent app vers le children appareil -->
        <app-appareil *ngFor="let appareil of appareils" [appareilName]="appareil.name"
          [appareilStatus]="appareil.status"></app-appareil>

      </ul>
      <!-- <button class="btn btn-success" disabled>Tout allumer</button> -->
      <button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">
        Tout allumer
      </button>
    </div>

  </div>

</div>